@import "./mixin";
$font-poppins: "Poppins", sans-serif;

body {
  font-family: $font-poppins;
}
img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1268px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-heading {
  border-bottom: 1px solid #000;
  padding: 17px 0 20px 0;
  margin-bottom: 57px;
  &__title {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}
